<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content=" Plataforma de programación en Bloques">
    <meta name="keywords" content="arduino educablocks educabot bloques scratch bitbloq ardublock programacion robot robotica">

    <title>Educablocks</title>

    <!-- Styles -->
    <link href="assets/css/core.min.css" rel="stylesheet">
    <link href="assets/css/thesaas.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
    <!--<script type="text/javascript" src="../../node_modules/electron-open-link-in-browser/build/electron-open-link-in-browser.js"></script>-->

    <link rel="icon" href="assets/img/favicon.png">
  </head>

  <body>



  <webview id="web" src="https://formal-vertex-180414.appspot.com" style="display:inline-flex; height: 768px;width: 100%"
           autosize plugins allowpopups>
  </webview>





    <!-- Scripts -->
    <script src="assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>

    <script src="assets/js/core.min.js"></script>
    <script src="assets/js/thesaas.min.js"></script>
    <script src="assets/js/script.js"></script>


  </body>
</html>
